#designerdetail {
    margin: 30px auto 0 auto;
    width: 871px;
    font-size: 95%;
    letter-spacing: -1px;
    color: #444;
}

#detail_left, #detail_mid {
    width: 270px;
    float: left;
    margin-left: 10px;
}

#detail_right {
    float: left;
    width: 300px;
    margin-left: 10px;
}

#designerdetail .mark {
    color: #e53c55;
    float: none;
}

#designerdetail ul {
}

#designerdetail li:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#designerdetail li{display: inline-table;}
* html #designerdetail li{height: 1%;}
#designerdetail li{display: block;}

#designerdetail li label {
    margin-right: 20px;
    width: 66px;
}
#designerdetail li h3 {
    font-size: 100%;
    color: #444;
    white-space: nowrap;
    display: inline;
}

#detail_left li {
    list-style: none;
    margin-top: 7px;
}
#detail_left li label {    
    float: left;
}
#detail_left li span {
    float: left;
    width: 180px;
}
#detail_mid li {
    list-style: none;
    margin-top: 7px;
    margin-bottom: 30px;
}
#detail_mid li div {
    clear: both;
    margin: 5px 3px 0 13px;
    line-height: 25px;
}
#detail_right {
}
#imgshow {
    width: 300px;
    height: 200px;
    overflow: hidden;
}
#mainimg {
    width: 300px;
    height: 200px;
}
#imglist {
    margin-top: 20px;
}
#imglist span{
    display: inline;
    width: 60px;
    height: 50px;
    margin: 0 5px;
}
#imglist span img {
    width: 60px;
    height: 50px;
    cursor: pointer;
}
#detailfoot {
    margin: 30px auto;
    width: 871px;
    border-top: 1px solid #e53c55;
    padding-top: 8px;
    text-align: center;
    font-size: 80%;
}
#detailfoot a {
    width: 120px;
    height: 100%;
    color: white;
    display: block;
    text-decoration: none;
    display: block;
    float: left;
}
#detailfoot .left {
    float: left;
    width: 170px;
}
#detailfoot .left span {
    width:0; height:0; border-width:9px; border-style:solid;
    display: block;
    float: left;
}
#detailfoot .left a {
    padding: 2px 0 2px 12px;
}
#detailfoot .right {
    margin-left: 8px;
    float: left;
    width: 170px;
}
#detailfoot .right span {
    width:0; height:0; border-width:9px; border-style:solid;
    display: block;
    float: right;
}
#detailfoot .right a {
    padding: 2px 0 2px 12px;
}
